{% extends "theme/base_admin.html.twig" %}


{% block title %}Admin - Mon espace privé{% endblock %}

{% block adminContent %}
<section class="d-flex justify-content-center align items-center">
    <div class="container">

        <div class="row">
            <div class="col-md-7 mb-3 ms-5">
                <h1 class="display-5 text-center mb-3">
                        Espace privé Admin
                </h1>
            </div>
        </div>
    </div>
</section>

{% endblock %}
