<footer class="my-3 bg-dark d-flex justify-content-center fixed-bottom">
    <div class="row text-center d-flex justify-content-center w-100">
        <div class="col-md-6 w-25">
            <p class="text-decoration-none text-white">Le blog de Jean Dupont - Espace priv"</p>
        </div>
        <div class="col-md-6 w-25">
            <i class="fa fa-copyright" aria-hidden="true"></i> {{ 'now'|date("Y") }}
        </div>
    </div>
</footer>